@import "base.css";

header{
    position: absolute;
    width: 100%;
    padding: 18px;
    z-index: 9999;
}

header .container{
    display: flex;
    justify-content: right;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    font-family: 'Poppins', helvetica, sans-serif;
    font-size: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

header ul li a{
    font-family: 'Poppins', helvetica, sans-serif;
    font-size: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

header ul li + li{
    margin-left: 35px;
}

li:hover{
    opacity: 0.7;
}



    /*
    --------------------------------------------------------
    footer styling
    --------------------------------------------------------
    */
    
    footer{
        min-width: 100%;
        background-color: rgb(22, 22, 22);
        overflow: hidden;
        color:rgb(255, 255, 255);
        height: auto;
        }
    
        .footer-main{
        display: grid;
        place-items: center;
        padding: 28px 0;
        }
    
        .footer-main h2{
            font-size: 32px;
            font-family: 'Poppins', helvetica, sans-serif;
            margin-top: 10px;
        }

        .footer-main p{
            font-size: 14px;
            font-family: 'Poppins', helvetica, sans-serif;
            margin-top: 10px;
            width: 400px;
            margin-top: 15px;
            text-align: center;
        }


    /*
    --------------------------------------------------------
    social icons
    --------------------------------------------------------
    */ 

        .social-icons{
            display: flex;
            width: 250px;
            justify-content: space-between;
            list-style: none;
            margin-top: 25px;
        }

        .social-icons li{
            height:50px;
            width: 50px;
            border: solid 2px white;
            border-radius: 100%;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }

        .social-icons li:hover{
            opacity: 0.75;
        }
        
        .social-icons li a{
            color: white;
            font-size: 18px;
            margin-top: 2px;
        }





    
        .bottom-footer{
            width: 100%;
            height: 28px;
            text-align: center;
            background-color: #0f0f0f;
            background-color: rgb(34, 34, 34);
            display: flex;
            align-items: center;
            justify-content: center;
            }
            
            .bottom-footer p{
            font-family: 'Poppins', helvetica, sans-serif;
            font-size: 12px;
            color: rgb(184, 184, 184);
 
            }