@import "base.css";

body{
    background-color: white;
    
}

/* -------------------------------------------------------- */
/* ---------------------- input --------------------------- */
/* -------------------------------------------------------- */



.validation{
    margin: 0 auto;
    text-align: center;
    height: 18px;
}
.validation p{
    font-size: 18px;
    color: #ff3333;
    line-height: 18px;
}

input{
    width: 100%;
    height: 50px;
    background-color: white ;
    color: rgb(31, 31, 31);
    padding: 0 15px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #E8E8E8;
    /* box-shadow: 0 20px 48px 0 rgba(170, 169, 169, 0.1); */
    letter-spacing: 0.17px;
}

input::placeholder, textarea::placeholder{
    font-size: 15px;
    color: rgb(156, 156, 156);
    letter-spacing: 0.17px;
}



label{
    margin:8px 0 2px 0;
    display:inline-block;
    color: black;
    font-size:16px;
    letter-spacing: 0.17px;
    margin-top: 15px;
}
#submit-contact{
    width: 100%;
    height: 50px;
    color: white;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 10px;
    /* box-shadow: 0 20px 48px 0 rgba(170, 169, 169, 0.1); */
    margin-top: 5px;
    background-color: orange;
    color: white;
    margin-top: 5px;
    margin-top: 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 400;
}
#submit-contact:hover{
    background-color: rgb(214, 146, 20);

}

input[type=checkbox]{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 0px;
}
textarea{
    width: 100%;
    height: 200px;
    resize: none;
    background-color: white ;
    color: rgb(31, 31, 31);
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    /* box-shadow: 0 20px 48px 0 rgba(170, 169, 169, 0.1); */
    margin-top: 5px;
    border: 1px solid #E8E8E8;
    padding: 12px 13px;
}

.back-image{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row{
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.col2{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.col2 h2{
    color:rgb(26, 26, 26);
    font-size: 33px;
    font-weight: 600;
    
    text-transform: uppercase;
}
.col2 p{
    color: black;
    font: 15px;
}
.col2 + .col2{
    margin-left: 20px;
}
.col2-map h3{
    color:rgb(26, 26, 26);
    font-size: 33px;
    font-weight: 600;
    
    text-transform: uppercase;
}
form{
    width: 60%;
    text-align: left;
}
form div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 15px;
}
#error{
    color: #ff0033;
    font-size: 15px;
}
.error-div{
    height: 15px;
    margin-top: 15px;
}
header{
    display: flex;
    align-items: center;
    height: 70px;
}
/* Map Shit */
.map{
    width: 100%;
    height:100%;
    background-color: #286FF2;
    border-radius: 10px;
}